.color {
    background-color: #021431;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.signUp {
    display: flex;
    gap: 15px;
    font-size: 14px;
    padding: 10px 32px;
    padding-left: 960px;
}

.signUp {
    color: rgba(255, 255, 255, 0.700);
}

.signin {
    text-decoration: none;
}

.register {
    text-decoration: none;
}


.header {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.headerColor {
    background-color: #F0F6FF;
}

.headerLogo {
    text-decoration: none;
    font-family: sans-serif;
    cursor: pointer;
    background-color: #006eff;
    padding: 0px 15px;
    border-radius: 10px;
    color: rgba(230, 230, 230, 0.7);
    font-size: 30px;
    font-weight: 500;
}

.about {
    border-radius: 7px;
    align-items: center;
    display: flex;
    padding: 8px 16px;
    text-decoration: none;
    color: #394E6A;
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.moonicon,
.basketicon {
    cursor: pointer;
    opacity: 0.699;
}

/* hero page */


.aboutTitle {
    font-size: 50px;
    font-weight: bold;
    color: #394E6A;
    margin-bottom: 10px;
}

.comfy {
    background-color: #057AFF;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 16px;
    font-weight: 700;
    padding: 18px 24px 16px 24px;
    letter-spacing: 0.4rem;
    font-size: 40px;
    flex-direction: column;
    align-items: center;
}

.aboutDesc {
    line-height: 2rem;
    font-weight: 100;
    font-size: 18px;
    color: rgba(57, 78, 106, 0.8);
    padding: 0 235px;
}