.backColor {
    background-color: #021431;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.signUp {
    display: flex;
    gap: 15px;
    font-size: 14px;
    padding: 10px;
    padding-left: 9600px;
}

.signUp span {
    color: rgba(255, 255, 255, 0.700);
}

.signin {
    text-decoration: none;
}

/* header */

.header {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.headercolor {
    background-color: #F0F6FF;
}

.logoIcon {
    text-decoration: none;
    font-family: sans-serif;
    cursor: pointer;
    background-color: #006eff;
    padding: 0px 15px;
    border-radius: 10px;
    color: rgba(230, 230, 230, 0.7);
    font-size: 30px;
    font-weight: 500;
}

.cart {
    border-radius: 7px;
    align-items: center;
    display: flex;
    padding: 8px 16px;
    text-decoration: none;
    color: #394E6A;
}


/* icons */

.actions {
    display: flex;
    gap: 10px;
}

.icon {
    cursor: pointer;
    font-size: 30px;
    opacity: 0.699;
}