.color {
    background-color: #021431;
}
.productDetails{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.signUp {
    display: flex;
    gap: 15px;
    font-size: 14px;
    padding: 7.5px 0px 7.5px 0px;
}

.signin {
    color: #394E6A;
    text-decoration: none;
}

.signin:hover {
    color: #006eff;
}

.register {
    color: #394E6A;
    text-decoration: none;
}

.register:hover {
    color: #006eff;
}

/* header */

.header {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px;
}

.logo {
    text-decoration: none;
    font-family: sans-serif;
    cursor: pointer;
    background-color: #006eff;
    padding: 0px 15px;
    border-radius: 10px;
    color: rgba(230, 230, 230, 0.7);
    font-size: 30px;
    font-weight: 500;
}

.headerColor {
    background-color: #F0F6FF;
}

.pages {
    display: flex;
    gap: 0px;
}

.home {
    border-radius: 7px;
    align-items: center;
    display: flex;
    padding: 5px 13px;
    font-size: 13px;
    text-decoration: none;
    color: #394E6A;
}

.active {
    background-color: #021431;
    color: white;
}


/* icons */

.actions {
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.moon {
    cursor: pointer;
    font-size: 40px;
    opacity: 0.699;
    color: #394E6A;
}

.basket {
    cursor: pointer;
    font-size: 18px;
    opacity: 0.699;
    color: #394E6A;
}


/* hero page */

.hero {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 0 32px;
}

.heroTitle {
    font-weight: bold;
    width: 490px;
    font-size: 50px;
    color: #394E6A;
}

.desc {
    color: rgba(29, 38, 70, 0.8);
    width: 450px;
}

.button {
    height: 48px;
    width: 30%;
    font-size: 14px;
    padding: 0 16px;
    font-weight: 600;
}

/* carusel */

.caruselItem {
    gap: 15px;
    background-color: #021431;
    padding: 15px;
    border-radius: 15px;
    width: 500px;
    height: 480px;
    display: inline-flex;
    overflow-x: scroll;
}

.caruselItem img {
    width: 323px;
    border-radius: 10px;
}

::-webkit-scrollbar {
    display: none;
}

/* featured products */

.productsPage {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.ptn {
    font-size: 30px;
    font-weight: 600;
    color: #394E6A;
    padding-bottom: 20px;
    border-bottom: 2px solid #E2E8F4;
}

.productDetails {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}