.pdc {
    display: flex;
    gap: 50px;
    margin-top: 10px;
    align-items: center;
    justify-content: space-around;
}

.pdct {
    margin-top: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 8px 8px rgb(219, 219, 219);
}

.pdct:hover {
    box-shadow: 20px 20px 50px rgb(199, 199, 199);
}

.lamp,
.table,
.bed {
    width: 310px;
    height: 250px;
    border-radius: 20px;
}

/* home cards */

.HomeCard {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgb(158, 158, 158);
    width: 330px;
    padding: 25px;
    display: flex;
    margin-top: 50px;
    text-align: center;
    transition: all 1s;
}

.HomeCard:hover {
    box-shadow: 15px 15px 50px rgb(158, 158, 158);
}

.HomeCardimage {
    border-radius: 20px;
}

.card-title {
    font-weight: bold;
    color: #394E6A;
}

.card-price {
    font-weight: 500;
    color: #365175;
}