.backcolor {
    background-color: #021431;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.signUp {
    display: flex;
    gap: 15px;
    font-size: 14px;
    padding: 10px 32px;
    padding-left: 938px;
}

.signUp span {
    color: rgba(255, 255, 255, 0.700);
    text-decoration: none;
}

.signin {
    text-decoration: none;
}

/*  */

.header {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.headerColor {
    background-color: #F0F6FF;
}

.logoicon {
    text-decoration: none;
    font-family: sans-serif;
    cursor: pointer;
    background-color: #006eff;
    padding: 0px 15px;
    border-radius: 10px;
    color: rgba(230, 230, 230, 0.7);
    font-size: 30px;
    font-weight: 500;
}

.products {
    border-radius: 7px;
    align-items: center;
    display: flex;
    padding: 8px 16px;
    text-decoration: none;
    color: #394E6A;
}

.active {
    background-color: #021431;
    color: white;
}

.actions {
    display: flex;
    gap: 10px;
}

.moonIcon {
    cursor: pointer;
    opacity: 0.699;
    color: #394E6A;
}

.basketIcon {
    cursor: pointer;
    font-size: 18px;
    opacity: 0.699;
    color: #394E6A;
}